:root {
  --them-colour: #2196f3;
  --them-colour-two: #2f303a;
  --text-primary: #212121;
  --text-primary-second: #757575;
  --white-theme:#ffffff;
  --border-them:#f5f4fa;
  --container-set: 30px;
}

body {
  font-family: "Roboto";
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.studio {
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-theme);
}

.line {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.line::after {
  content: "";
  display: block;
  bottom: auto;
  width: 100%;
  height: 4px;
  position: absolute;
  background: var(--them-colour);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-top: 80px;
}

@media screen and (max-width: 767px) {
  .line::after {
    display: none;
  }
}

.header {
  position: relative;
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
}

.menu-button .menu-button__icon-cross {
  display: none;
}

.menu-button.is-open .menu-button__icon-cross {
  display: block;
}

.menu-button.is-open .menu-button__icon-menu {
  display: none;
}

.menu-button {
  display: contents;
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__menu {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    height: 796px;
    padding: 48px 40px;
    padding-top: 32px;
    background-color: white;
    z-index: 3;
  }
  .header__menu.is-open {
    display: block;
  }
}

.header-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .header-box {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 480px) {
  .header-box {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header-box {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header-box {
    width: 1200px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .header__nav {
    padding-bottom: 200px;
  }
}

.header__nav a {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 88px;
  margin-left: 15px;
}

@media screen and (max-width: 767px) {
  .header__link {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .header__link {
    margin-left: 100px;
  }
}

.header__logo {
  color: var(--them-colour);
}

.navigation {
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-network {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .social-network {
    display: none;
  }
}

.social-network__item a {
  text-decoration: none;
}

.social-network__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-network__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.navigation__item {
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 40px;
}

.navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
}

.navigation__link--active {
  color: var(--them-colour);
}

.navigation__link:hover, .navigation__link:focus {
  color: var(--them-colour);
}

@media screen and (min-width: 768px) {
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1px;
    letter-spacing: 0.02em;
  }
}

.nav__mobile {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .nav__mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-contact {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .nav-contact {
    margin-bottom: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contact {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .nav-contact__list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contact__list:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-contact__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-contact__link:hover, .nav-contact__link:focus {
  color: var(--them-colour);
}

@media screen and (min-width: 780px) {
  .nav-contact__link {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--text-primary-second);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1px;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .nav-contact__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-contact__icon1 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

@media screen and (max-width: 767px) {
  .nav-contact__icon1 {
    display: none;
  }
}

.nav-contact__link:hover .nav-contact__icon1,
.nav-contact__link:focus .nav-contact__icon1 {
  fill: var(--them-colour);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact__icon2 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 10px;
  height: 16px;
}

.nav-contact__link:hover .nav-contact__icon2,
.nav-contact__link:focus .nav-contact__icon2 {
  fill: var(--them-colour);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .nav-contact__icon2 {
    display: none;
  }
}

.section-hero {
  background: var(--them-colour-two);
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile/hero-mobile.jpg");
  background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-mobile.jpg");
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-mobile.jpg");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile/hero-mobile@2x.jpg");
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-mobile@2x.jpg");
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-mobile@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    padding: 200px 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/hero-tablet.jpg");
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-tablet.jpg");
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/hero-tablet@2x.jpg");
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-tablet@2x.jpg");
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    padding: 200px 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desctop/hero-desctop.jpg");
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/hero-desctop.jpg");
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/hero-desctop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/hero-desctop.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desctop/hero-desctop@2x.jpg");
    background-image: -webkit-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/hero-desctop@2x.jpg");
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/hero-desctop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desctop/hero-desctop@2x.jpg");
  }
}

.section-hero__header {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  color: #fff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: .06em;
  text-transform: uppercase;
  text-align: center;
}

.section-hero > h1 .footer-background {
  background: var(--them-colour-two);
  width: 1600px;
  height: 252px;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 15px;
  overflow-y: scroll;
  z-index: 2;
  -webkit-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0 auto;
  background: var(--white-theme);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: opacity 2s linear;
  -o-transition: opacity 2s linear;
  transition: opacity 2s linear;
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    width: 528px;
  }
}

.modal__head {
  display: block;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--text-primary);
}

.modal-form__box {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  color: var(--text-primary-second);
}

.modal-form__line,
.modal-form__text {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 0 10px 0 42px;
  -webkit-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  transition: 0.3s linear border;
}

.modal-form__line:focus {
  outline: none;
  border: 1px solid var(--them-colour);
}

.modal-form__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transition: 0.3s fill linear;
  -o-transition: 0.3s fill linear;
  transition: 0.3s fill linear;
}

.modal-form__line:focus + .modal-form__icon {
  fill: var(--them-colour);
}

.modal-form__text {
  font-family: inherit;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 10px;
}

.modal-form__text:focus {
  outline: none;
  border: 1px solid var(--them-colour);
}

.modal-form__text::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__text::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__svg {
  fill: var(--white-theme);
  margin-left: 1px;
}

.policy,
.modal-form__svg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: var(--text-primary-second);
}

.policy a {
  color: var(--them-colour);
}

.modal-form__checkbox {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  border: 0px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
}

.modal-form__checkbox:checked ~ .policy::before {
  border: 0px;
  background-color: var(--them-colour);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
}

.modal-form__checkbox:focus ~ .policy::before {
  border-color: var(--them-colour);
  -webkit-transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy::before {
  content: "";
  height: 16px;
  width: 16px;
  border: 1px solid var(--text-primary);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  margin-right: 7px;
}

.modal-form__check {
  display: block;
  position: fixed;
}

.policy__link {
  margin-left: 5px;
}

.about-work {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .about-work {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .skills {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -15px;
  }
}

.skills__card {
  margin: 0;
}

.skills__card:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .skills__card {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .skills__card {
    width: 354px;
    margin: 15px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .skills__card {
    width: 270px;
  }
}

.skills__picture {
  width: 100%;
  height: 120px;
  background-color: var(--border-them);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.skills__picture:not(:last-child) {
  margin-bottom: 30px;
}

.skills__meta {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--text-primary);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .skills__meta {
    text-align: inherit;
  }
}

.skills__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-primary-second);
  margin: 0px;
}

.specificity {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .specificity {
    padding: 0px;
    display: none;
  }
}

.specificity__head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

.specificity__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.specificity__image {
  position: relative;
}

.specificity__image:not(:last-child) {
  margin-right: 30px;
}

.specificity__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--white-theme);
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--border-them);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

@media screen and (min-width: 1200px) {
  .team__head {
    margin-bottom: 50px;
  }
}

.user-description__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-primary);
  margin-top: 0px;
}

.user-description__profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px 0px;
  color: var(--text-primary-second);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .card-workers {
    margin: -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .card-workers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.user-description__name {
  margin-bottom: 10px;
}

.card-workers__box {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px 0px 4px 4px;
          border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
}

@media screen and (max-width: 767px) {
  .card-workers__box:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card-workers__box {
    width: -webkit-calc((100% - 4 * 15px) / 2);
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .card-workers__box {
    width: 270px;
  }
}

.user-description {
  padding: 30px 0px 30px 0px;
}

.social-box__svg {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-box__link:hover .social-box__svg,
.social-box__link:focus .social-box__svg {
  fill: var(--white-theme);
}

.social-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-box__item:last-child {
  margin-right: 0;
}

.social-box__link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.social-box__link:hover, .social-box__link:focus {
  background-color: var(--them-colour);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: var(--text-primary);
}

@media screen and (min-width: 1200px) {
  .clients__head {
    margin-bottom: 50px;
  }
}

.clients__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -15px;
}

.clients__card {
  margin: 15px;
  width: -webkit-calc((100% - 6 * 15px) / 2);
  width: calc((100% - 6 * 15px) / 2);
}

@media screen and (min-width: 768px) {
  .clients__card {
    width: -webkit-calc((100% - 6 * 15px) / 3);
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__card {
    width: 170px;
  }
}

.clients__link {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 92px;
  border: 1px solid #ececec;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--them-colour);
}

.clients__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--them-colour);
}

.clients__icon {
  fill: #afb1b8;
}

.footer {
  background: var(--them-colour-two);
  padding: 60px 0;
  text-decoration: none;
  padding: 60px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer-box__info {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-box__info {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box__info {
    margin-right: 70px;
    text-align: left;
  }
}

.footer-box {
  display: block;
}

@media screen and (min-width: 768px) {
  .footer-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

.footer-box__second {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-box__second {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box__second {
    margin-right: 70px;
    text-align: left;
  }
}

.footer__logo {
  color: var(--them-colour);
}

.footer__link {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.footer__street {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--white-theme);
  margin: 0px 0px;
  margin-bottom: 9px;
}

.footer__contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer-form__label {
  text-align: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-theme);
}

@media screen and (min-width: 1200px) {
  .footer-form__label {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__email {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__email::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input {
  width: 100%;
  height: 50px;
  background-color: #ffffff00;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding-left: 16px;
}

@media screen and (max-width: 1199px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-right: 12px;
    margin-bottom: 0;
    width: 358px;
  }
}

.form-button__svg {
  margin-left: 12px;
}

.connect {
  margin-bottom: 60px;
}

.connect__titles {
  margin-bottom: 20px;
  color: var(--white-theme);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .connect__titles {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .connect__titles {
    text-align: left;
  }
}

.connect__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connect__item:last-child {
  margin-right: 0;
}

.connect__link {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.connect__link:hover, .connect__link:focus {
  background-color: var(--them-colour);
}

.connect__svg {
  -webkit-transition: fill 250ms lcubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: fill 250ms lcubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms lcubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  fill: var(--white-theme);
}

/* button-portfolio! */
.section-hero__button {
  background: var(--them-colour);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  padding: 10px 35px 10px 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: var(--white-theme);
}

.modal--close {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: var(--white-theme);
  border: 1px solid grey;
  top: 8px;
  right: 8px;
  font-size: 1.4em;
  -webkit-transition: 0.3s linear color;
  -o-transition: 0.3s linear color;
  transition: 0.3s linear color;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal--close:hover, .modal--close:focus {
  color: var(--them-colour);
}

.policy__btn {
  display: block;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 55px 10px 56px;
  color: var(--white-theme);
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.button__set--li {
  margin-bottom: 15px;
}

.button__set--active {
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-color: var(--border-them);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--text-primary);
  background-color: var(--border-them);
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__set--active:hover, .button__set--active:focus {
  text-decoration: none;
  color: var(--white-theme);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button__set--active:hover, .button__set--active:focus {
  background: var(--them-colour);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-color: var(--border-them);
}

.button__set:not(:last-child) .button__set--active {
  margin-right: 8px;
}

.button__set {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .button__set {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form-button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
  color: var(--white-theme);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--them-colour);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .form-button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .form-button {
    margin-top: 0px;
  }
}

.button {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .button {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.card-set {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .card-set {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .card-set {
    margin-top: -webkit-calc(-1 * var(--container-set));
    margin-top: calc(-1 * var(--container-set));
    margin-left: -webkit-calc(-1 * var(--container-set));
    margin-left: calc(-1 * var(--container-set));
  }
}

@media screen and (min-width: 768px) {
  .card-set > .card-set__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: -webkit-calc(100% / 2 - var(--container-set));
        -ms-flex-preferred-size: calc(100% / 2 - var(--container-set));
            flex-basis: calc(100% / 2 - var(--container-set));
    margin-left: var(--container-set);
    margin-top: var(--container-set);
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .card-set > .card-set__item {
    -webkit-flex-basis: -webkit-calc(100% / 3 - var(--container-set));
        -ms-flex-preferred-size: calc(100% / 3 - var(--container-set));
            flex-basis: calc(100% / 3 - var(--container-set));
    margin-left: var(--container-set);
    margin-top: var(--container-set);
  }
}

.card-set__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-box {
  position: relative;
  padding: 20px 24px 20px 24px;
  background: var(--white-theme);
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product {
  position: relative;
  overflow: hidden;
}

.card-set__link {
  overflow: hidden;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.card-set__link:hover, .card-set__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__text {
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white-theme);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__link:hover .product__text,
.card-set__link:focus .product__text {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.text-box__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-primary);
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .text-box__name {
    letter-spacing: normal;
  }
}

.text-box__meta {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-primary-second);
  margin: 0px;
}
/*# sourceMappingURL=main.css.map */