  .about-work {
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  
  @media screen and (min-width: 1200px){ 
    padding-top: 94px;
    padding-bottom: 94px;
   
  }
}


  .skills {
    @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }
    
  
  .skills__card {

    margin: 0;

    @media screen and (min-width:480px) {
      width: 100%;
      margin-bottom: 30px;
    }
        
    @media screen and (min-width:768px){
      width: 354px;
      margin: 15px;
      justify-content: center;
      // width: calc((100% - 4 * 15px) / 2);
    }
   
    @media screen and (min-width:1200px) {
      width: 270px;
    }
      // &:not(:last-child) {
      //   @media screen and (min-width: 768px) {
      //     margin: 15px;
      //   }
      // }
   
  }
  
   .skills__picture {
      width: 100%;
      height: 120px;
    background-color: var(--border-them);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 30px;

    // @media screen and (min-width:768px){
    //   width: calc((100% - 4 * 15px) / 2);

    // }
    
    
  }

  .skills__meta {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--text-primary);
    text-align:center;
    
    @media screen and (min-width:768px){
      text-align: inherit;
     }

  }
  
  .skills__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-primary-second);
    margin: 0px;
  }