.section-hero {
    background: var(--them-colour-two);
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/img-bgd.jpg");
    background-position: center;
    background-size: 1600px;
    background-repeat: no-repeat;
  }
  
  .section-hero__header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-theme);
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .section-hero > h1 .footer-background {
    background: var(--them-colour-two);
    width: 1600px;
    height: 252px;
  }
  
  

  