.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  
  z-index: 2;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 480px){
    padding: 15px;
   
    overflow-y: scroll;
  }
 
   
   
}

.modal {
    position: relative;
    // width: 528px;
    // min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background: var(--white-theme);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: opacity 2s linear;
    padding: 40px;


  //   @media screen and (min-width: 480px){
  //     top: 0;
  //     left: 0;
  //     position: relative;
    
  //     width: 450px;
  //     height: 609px;
  //   }

    @media screen and (min-width: 768px){
      position: absolute;
     
   width: 450px;  }
   }
  
  .modal__head {
    display: block;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    color: var(--text-primary);
  }
  .modal-form__box {
    display: block;
    position: relative;
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 10px;
    letter-spacing: 0.01em;
  
    color: var(--text-primary-second);
  }
  
  
  .modal-form__line,
  .modal-form__text {
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 10px 0 42px;
    transition: 0.3s linear border;
  }
  .modal-form__line:focus {
    outline: none;
    border: 1px solid var(--them-colour);  
  }
  

  .modal-form__icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    transition: 0.3s fill linear;

    .modal-form__line:focus + & {
      fill: var(--them-colour);
    }
  }

  .modal-form__text {
    font-family: inherit;
    resize: none;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 10px;

    &:focus {
      outline: none;
      border: 1px solid var(--them-colour);
     }
      &::placeholder {
        color: rgba(117, 117, 117, 0.5);
      }
  }
  
  
  
  .modal-form__svg {
    fill: var(--white-theme);
    margin-left: 1px;
  }
  .policy,
  .modal-form__svg {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text-primary-second);
  }
  .policy a {
    color: var(--them-colour);
  }
  .modal-form__checkbox {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    border: 0px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
  }
  
  .modal-form__checkbox:checked ~ .policy::before {
    border: 0px;
    background-color: var(--them-colour);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .modal-form__checkbox:focus ~ .policy::before {
    border-color: var(--them-colour);
    transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .policy::before {
    content: "";
    height: 16px;
    width: 16px;
    border: 1px solid var(--text-primary);
    border-radius: 2px;
    margin-right: 7px;
  }
  .modal-form__check {
    display: block;
    position: fixed;
  }
  .policy__link {
    margin-left: 5px;
  }