
.specificity {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width: 1199px) {
      padding: 0px;
      display: none;
      
   }

    
  }
  .specificity__head {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 0.03em;
    color: var(--text-primary);


  
  }
  .specificity__card {
    display: flex;
  }
  
  // .specificity__image:not(:last-child) {
  //   margin-right: 30px;
  // }
  .specificity__image {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .specificity__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-theme);
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  