/* button-portfolio! */

.section-hero__button {
  background:  var(--them-colour);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  cursor: pointer;
  padding: 10px 35px 10px 35px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  display: flex;
  color: var(--white-theme);
}

.modal--close {
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background:var(--white-theme);
  border: 1px solid grey;
  top: 8px;
  right: 8px;
  font-size: 1.4em;
  transition: 0.3s linear color;
  display: flex;
  justify-content: center;


  &:hover,
  &:focus {
    color: var(--them-colour);
  }
}

// .modal--close:hover,
// .modal--close:focus {
//   color: var(--them-colour);
// }

.policy__btn {
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 55px 10px 56px;
  color:var(--white-theme);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}



// .button__set--active:hover,
// .button__set--active:focus {
//   text-decoration: none;
//   color: var(--white-theme);
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
// }

// .button__set--active:hover,
// .button__set--active:focus {
//   background: var(--them-colour); ggggggggggggggggggggg
//   border-radius: 4px;
//   border-color: var(--border-them);
// }

.button__set--li {
  margin-bottom: 15px;
}

.button__set--active {
  border-radius: 4px;
  border-color: var(--border-them);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--text-primary);
  background-color: var(--border-them);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    text-decoration: none;
    color: var(--white-theme);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

    &:hover,
    &:focus {
    background: var(--them-colour);
    border-radius: 4px;
    border-color: var(--border-them);
  }

  .button__set:not(:last-child) & {
    margin-right: 8px;
  }
}
// .button__set:not(:last-child) .button__set--active {
//   margin-right: 8px;
// }

.button__set {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;

  @media screen and (min-width: 768px){
  justify-content: center;
  }


}



.form-button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    margin-left: 12px;
    color: var(--white-theme);
    justify-content: center;
    background:  var(--them-colour);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    @media screen and (max-width: 1199px){
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 1200px){
    margin-top: 0px;
    }
  }