
body {
    font-family: "Roboto";
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
   .list-none {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  