:root {
    --them-colour: #2196f3;
    --them-colour-two: #2f303a;
  
    --text-primary: #212121;
    --text-primary-second: #757575;
  
    --white-theme:#ffffff;
    --border-them:#f5f4fa;
    --container-set: 30px;
  }
  
// playsholders
    



  
  